<div class="jumbotron center-block" style="width: 90%">

    <div class="row">
        <div class="col-md-12">
            <h1>ARTIC</h1>
            <div style="margin-top: 20px;">
                <h2>Metadata extractor from scientific documents</h2>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
       <div class="col-md-6">
          <p>Dependencies:</p>
           <ul style="font-size: 18px; font-weight: 200">
               <li><a href="http://www.oracle.com/technetwork/java/javase/downloads/jre7-downloads-1880261.html">Java 7</a></li>
               <li><a href="http://www.nuance.com/for-business/by-product/omnipage/standard/index.htm">OmniPage Professional 18</a></li>
               <li><a href="https://code.google.com/p/crfpp/">CRF++</a></li>
           </ul>
       </div>

       <div class="col-md-6">
           <p>License: <a href="http://opensource.org/licenses/mit-license.php">MIT</a></p>
           <p>Author: <a href="https://github.com/alansouzati">Alan Souza</a></p>
       </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6" style="margin-top: 10px;">
           <p>
               Binary:
           </p>
           <a class="btn btn-primary btn-lg download-link" href="https://github.com/alansouzati/artic/releases/download/artic-1.0/artic-1.0.jar">
               <i class="icon-white icon-download-alt"></i> Download JAR
           </a>
        </div>

        <div class="col-md-6" style="margin-top: 10px;">
            <p>
                Source code:
            </p>
            <a class="btn btn-primary btn-lg download-link" href="https://github.com/alansouzati/artic/archive/artic-1.0.zip">
                <i class="icon-white icon-download-alt"></i> Download ZIP
            </a>
            <a class="btn btn-primary btn-lg download-link" href="https://github.com/alansouzati/artic/archive/artic-1.0.tar.gz">
                <i class="icon-white icon-download-alt"></i> Download TAR
            </a>
        </div>
    </div>
</div>

